.App {
  text-align: center;
}

.b {
  background-color: #0668b8;
  padding: 20px;
  border-radius: 5px;
}

.b img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.App i {
  font-size: 24px;
  color: #000000;
  margin-right: 10px;
}
