body{
    background-color: #e8f5e9;
}
.titulo1 {
    color: #FFD700;
    background-color: #006400;
    border: 3px solid black;
    border-radius: 15px;
}
p{
    background-color: #90EE90; /* caixa verde */
    border: 3px solid #006400; /* borda verde escuro */
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 5px 15px gray;
}
.titulo2, .titulo3 {
    color: #FFD700;          /* texto dourado */
    background-color: #145A32; /* verde escuro */
    border: 3px solid black; /* borda preta */
    border-radius: 15px;
    padding: 10px;
}