.cont {
    padding: 20px;
    background-color: rgb(0, 0, 0);
}
.item {
    display: inline-block;
    margin-left: 20px;
}
.texto {
    display: inline-block;
    background-color: aqua;
    padding: 50px;
}

.cont img {
    display: inline-block;
    background-color: aqua;
    padding: 50px;
    vertical-align: middle;
}
