*{
  margin: 0px;
  padding: 0px;
}
body{
  width: 1272px;
  height: 900px;
  background-image: url(Imagens/d8680b1c1576ecc8.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.caixa{
  width: 480px;
  height: 761px;
  background-color: oklab(0.350185 0.00197871 -0.0120009);
  border-radius: 8px;
  box-shadow: #0003 0px 2px 10px 0px;
  color: oklab(0.745443 0.00131971 -0.00849813);
  font-size: 18px;
  line-height: 18px;
  padding: 32px;
}