/* SOBRE */
.sobre {
    padding: 60px;
    background-color: #ffffff;
}

.sobre h2 {
    color: #7a3f63;
    font-size: 32px;
    margin-bottom: 25px;
}

.sobre p {
    margin-bottom: 15px;
    font-size: 17px;
    line-height: 28px;
    color: #5e5360;
}