body{
    font-size: 25px;          /* define o tamanho do texto da página */
    font-family: Arial;       /* define a fonte do texto */
    margin: 0;                /* remove o espaço padrão nas bordas da página */

    display: flex;            /* ativa o sistema Flexbox para organizar os elementos */
    justify-content: center;  /* centraliza os elementos na horizontal */
    align-items: center;      /* centraliza os elementos na vertical */

    height: 100vh;            /* faz o body ocupar toda a altura da tela */

    background-image: url("https://i.pinimg.com/originals/ab/1a/68/ab1a6885d97caa231053be400ecfdefa.jpg");
    background-size: 500px;       /* faz a imagem ocupar toda a tela */
    background-position: center;  /* centraliza a imagem */
    background-repeat: no-repeat; /* impede repetir a imagem */
}

/* Parte de baixo */
p{
    position: fixed; /* fixa na tela */
    font-size: 18px; /* Tamanho da frase */
    border-radius: 50px;
    height: 200px;
    width: 400px;

    display: flex;
    justify-content: center;  /* centraliza os elementos na horizontal */
    align-items: center;      /* centraliza os elementos na vertical */
    text-align: center;

}
.frase1{
    bottom: 10px;      /* joga pra baixo */
    left: 10px;        /* joga pra esquerda */

    background-color: #8A2BE2;
}
.frase2{
    bottom: 10px;      /* joga pra baixo */
    right: 10px;        /* joga pra direita */
    background-color: #FF4FA3;
}

/* Parte de cima */
.frase3{
    top: 10px;      /* joga pra cima */
    left: 10px;        /* joga pra esquerda */
    background-color: #FF4FA3;
}
.frase4{
    top: 10px;      /* joga pra cima */
    right: 10px;        /* joga pra direita */
    background-color: #8A2BE2;
}