*{
    margin: 0;
    padding: 0;
}
.logo{
    position: absolute;
    left: 38%;
    top: 38%;
}
.pesquisa{
    display: flex;
    width: 561px;
    height: 36px;
    position: absolute;
    border: 0px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 15px;
    left: 27%;
    top: 50%;
    box-shadow: 0 0 5px black;
    justify-content: space-between;
}
.mais{
    display: flex;
    align-items: center;
    gap: 10px;
}