* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100%;
}
header {
  align-items: center;
  display: grid;
  grid-template-columns: 88px 827px 114px 104px;
  grid-template-rows: 56px;
  line-height: 18.4px;
  padding: 40px 32px;
}
.logo {
  height: 46px;
  width: 88px;
}
header nav {
  display: flex;
  font-family: iFood RC Textos;
  line-height: 18.4px;
  margin-left: 50px;
}
header a {
  align-items: center;
  border-radius: 4px;
  color: #3e3e3e;
  text-decoration: none;
  display: flex;
  justify-content: center;
  line-height: 20px;
  font-weight: 500;
  margin: 3px 0px;
  padding: 20px;
}
.Cr, .En{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  line-height: 20px;
  margin: 3px 0px;
  padding: 20px;
  border-radius: 6px;
  border: none;
}
.Cr{
  color: #ea1d2c;
  background-color: white;
}
.En{
  background-color: #ea1d2c;
  color: white;
}

