.an{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.an h1{
  text-align: center;
  font-size: 36px;
  margin: 15px 0px 14px;
}
.an p {
  text-align: center;
  margin: 0px 0px 40px;
  color: #717171;
}
.localização img {
  height: 20px;
  width: 20px;
}
.localização input{
  
  padding: 4px 2px 1px;
}