body{
    background-color: rgb(236, 198, 72);
}

div{
    color: brown;
    margin-left: 5px;
    float: left;
}

.um {
    color: rgb(0, 0, 0);
    width: 49%;
    height: 400px;
    background-color: rgb(252, 0, 0);
}

.dois{
    color: rgba(195, 0, 255, 0.534);
    width: 49%;
    height: 400px;
    background-color: rgb(0, 238, 255);
}

